@font-face {
    font-family: 'Digital';
    src: url('fonts\\digital-7.ttf');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 25, 25);
    /*background-image: linear-gradient(110deg, rgb(20, 20, 20), rgb(70,70,70));
    background-size: cover;
    background-repeat: no-repeat;*/
}

.calculator-container {
    height: 700px;
    width: 500px;
    border-radius: 15px;
    border-style: solid transparent;
    background-image: linear-gradient(to bottom, rgb(60, 60, 60), rgb(20,20,20));
    position: absolute;
    top: 15%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.39);
    
}.calculator-container::before {  
    content: "";
    position:absolute;
    inset: none;
    left: -7px;
    height: 700px;
    width: 494px;
    border-radius: 15px;
    border: solid transparent;
    /*background: linear-gradient(to bottom, ) border-box;*/
    mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-radius: 20px;
    backdrop-filter: blur(3px) ;
    /*red, orange, yellow, green, indigo, blue*/
}.calculator-container::after {
    content: "";
    position:absolute;
    inset: none;
    left: -7px;
    height: 700px;
    width: 494px;
    border-radius: 15px;
    border: solid transparent;
    mask: linear-gradient( 0 0) padding-box, linear-gradient( 0 0);
    mask-composite: exclude;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-radius: 20px;
    backdrop-filter: blur(7px) ;
    z-index: 2;
}

.inner-shadow {
    position: absolute;
    top: 24px;
    left: 34px;
    height: 182px;
    width: 432px;
    border-style: solid solid double solid;
    border-width: 0px;
    box-shadow: inset 0px 0px 8px 7px rgb(24, 24, 24);
    border-radius: 20px;
    z-index: 3;
    outline-style: solid;
    outline-offset: -7px;
    outline-color: rgb(83, 83, 83);
}

.digital-screen {
    position: absolute;
    box-sizing: border-box;
    left: 35px;
    top: 25px;
    z-index: 3;
    width: 430px;
    height: 180px;
    border-width: 12px;
    border-top-width: 45px;
    border-color: rgb(209, 206, 206);
    border-radius: 20px;
    border-style:solid ;
    background-color: rgb(92, 104, 87);
    box-shadow: inset 0px 0px 10px 8px rgba(0, 0, 0, 0.548);
}

.calc-logo {
    position: absolute;
    z-index: 3;
    top: 41px;
    left: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(92, 92, 92);
    text-shadow: 0px 1px 1px grey;
}

.battery {
    position: absolute;
    top: 37px;
    left: 350px;
    z-index: 3;
    width: 90px;
    height: 30px;
    background-color: rgb(49, 49, 49);
    border-radius: 4px;
    box-shadow: inset 0px 0px 6px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
}

.grey-tick {
    height: 20px;
    width: 11px;
    background-color: rgb(97, 97, 97);
}

.green-tick {
    height: 20px;
    width: 11px;
    background-color: rgb(31, 233, 24);
}

.keypad-container {
    position: absolute;
    top: 250px;
    left: 35px;
    z-index: 3;
    border-radius: 20px;
    height: 400px;
    width: 430px;
    background-image: linear-gradient(to bottom, rgb(209, 206, 206), rgb(80,80,80));
    outline-style: solid;
    outline-offset: -2px;
    outline-color: rgb(87, 87, 87);
    box-shadow: inset 0px -5px 15px 8px rgba(0, 0, 0, 0.589);
}

.circles-container {
    position: absolute;
    height: 70px;
    width: 430px;
    /* background-color: rgba(128, 0, 128, 0.281); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.circle-button-red {
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 100%;
}

.circle-button-black {
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 100%;
}

.squares-container {
    position: absolute;
    top: 70px;
    left: 9px;
    height: 300px;
    width: 190px;
    /* background-color: rgba(128, 0, 128, 0.281); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.square {
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 11px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}


